

#bookmark-list{
    li{
        border-top: 1px dotted black;
        margin-bottom: 20px;
    }
}
#bookmark-section-title{
    text-align: center;
}
#submit-bookmark-contianer{
    text-align: center;
    justify-content: center;
    width: 50%;
    margin:auto;
}
