@import 'vars';
@import 'mixins';
@import './components/navbar';
@import './components/profiles';
@import './components/bookmarks';

body {
    text-decoration: none;
}
ul{
    
    list-style: none;
}
button{
    cursor: pointer;
}

#navbar-container{
    margin-bottom: 20px;
}